<head>
    <meta charaset = 'utf-8'>
</head>

<div class="emoji" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>Select Emoji</mat-card-title>
            <mat-divider></mat-divider>



                <mat-radio-group class="emojiselect" [(ngModel)]="emojiSelected">
                    <mat-radio-button class="emojibutton" value= 1>
                        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                        <i class="em em-blush"></i>
                    </mat-radio-button>
                    <mat-radio-button class="emojibutton" value= 2>
                        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                        <i class="em em-confused"></i>
                    </mat-radio-button>
                    <mat-radio-button class="emojibutton" value= 3>
                        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                        <i class="em em-disappointed"></i>
                    </mat-radio-button>
                    <mat-radio-button class="emojibutton" value= 4>
                        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                        <i class="em em-angry"></i>
                    </mat-radio-button>
                    <mat-radio-button class="emojibutton" value= 5>
                        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                        <i class="em em-cry"></i>
                    </mat-radio-button>
                </mat-radio-group>





            <mat-card-content>
                <h2 class="example-h2">How's your feeling today?</h2>
                <form class="EmojiSelect">


                    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                    <i class="em em-blush" id="happy"></i>
                    (Happy)

                    <mat-checkbox class="selecter" (click)="emojiSelected=1">
                    </mat-checkbox>
                    <br>

                    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                    <i class="em em-confused"></i>
                    (Disappoint)


                    <mat-checkbox class="selecter" (click)="emojiSelected=2">
                    </mat-checkbox>
                    <br>

                    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                    <i class="em em-disappointed"></i>
                    (Sick)


                    <mat-checkbox class="selecter" (click)="emojiSelected=3">
                    </mat-checkbox>
                    <br>


                    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                    <i class="em em-angry"></i>
                    (Angry)


                    <mat-checkbox class="selecter" (click)="emojiSelected=4">
                    </mat-checkbox>
                    <br>

                    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                    <i class="em em-cry"></i>
                    (Sad)


                    <mat-checkbox class="selecter" (click)="emojiSelected=5">
                    </mat-checkbox>


                </form>

            </mat-card-content>





            <h2 class="example-h2">How you will rate your feeling?</h2>
            <mat-slider
                class="slider"
                [max]="5"
                [min]="1"
                [step]="1"
                [thumb-label]="thumbLabel"
                [(ngModel)]="emojiRating"
                (click)="emojiRating=$event.target.value">
            </mat-slider>









            <h2 class="example-h2">More discripting of your feeling?</h2>
            <form class="textbox">
            <mat-form-field>
                <textarea matInput (input)="description=$event.target.value"></textarea>
            </mat-form-field>

            <br>
            </form>



            <form class="SubmitButton">
            <button mat-fab color="primary" (click)="sendEmojiRecord()" (click)="testNavigate()">submit </button>
            </form>



            <button (click)="testNavigate()">test</button>

        </mat-card>
    </div>
</div>
