<head>
    <meta charaset = 'utf-8'>
</head>

<div class="emoji" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>Select Emoji</mat-card-title>
            <mat-divider></mat-divider>

            <mat-card-content>
                <h2 class="example-h2">Checkbox configuration</h2>
                <section class="Emojiselect">

                    <mat-checkbox class="selecter" [(ngModel)]="emojiCompany">😪</mat-checkbox>
                    <mat-checkbox class="selecter" [(ngModel)]="emojiAge">Second Emoji</mat-checkbox>
                    <mat-checkbox class="selecter" [(ngModel)]="emojiName">Third Emoji</mat-checkbox>
                    <mat-checkbox class="selecter" [(ngModel)]="emojiAge">Fourth Emoji</mat-checkbox>


                    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                    <i class="em em-some-emoji"></i>



            </section>


            </mat-card-content>

            <button>submit now</button>
        </mat-card>
    </div>
</div>
