<head>
    <meta charaset = 'utf-8'>
</head>

<div class="emoji" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>Select Emoji</mat-card-title>
            <mat-divider></mat-divider>

            <mat-card-content>
                <h2 class="example-h2">How's your feeling today?</h2>
                <section class="EmojiSelected">

                    <mat-checkbox class="selecter" (click)="emojiSelected=1">
                        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                        <i class="em em-blush" id="happy"></i>
                        (Happy)
                    </mat-checkbox>

                    <mat-checkbox class="selecter" (click)="emojiSelected=2">
                        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                        <i class="em em-confused"></i>
                        (Disappoint)
                    </mat-checkbox>

                    <mat-checkbox class="selecter" (click)="emojiSelected=3">
                        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                        <i class="em em-disappointed"></i>
                        (Sick)
                    </mat-checkbox>

                    <mat-checkbox class="selecter" (click)="emojiSelected=4">
                        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                        <i class="em em-angry"></i>
                        (Angry)
                    </mat-checkbox>

                    <mat-checkbox class="selecter" (click)="emojiSelected=5">
                        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                        <i class="em em-cry"></i>
                        (Sad)
                    </mat-checkbox>






            </section>

            </mat-card-content>

            <mat-card-content>
                <h2 class="example-h2">How you will rate your feeling?</h2>
                <select class="EmojiRating" ng-model="data.singleSelect">
                    <option (input)="emojiRating=1">1</option>
                    <option (input)="emojiRating=2">2</option>
                    <option (input)="emojiRating=3">3</option>
                    <option (input)="emojiRating=4">4</option>
                    <option (input)="emojiRating=5">5</option>
                </select>

            </mat-card-content>



            <label>textbox:
                <input type="text" name="input" ng-model="example.text">
            </label>





            <button (click)="sendEmojiRecord()">submit now</button>

        </mat-card>
    </div>
</div>
