h1{
    text-align: center;
    padding-top:3%;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

body{
    background-color: #FEFE7A;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius: 25px;
}
