h1{
    text-align: center;
    padding-top:3%;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

body{
    background:none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius: 25px;
}



[layout-gt-sm="row"] {
    background-image: url("https://orig00.deviantart.net/35a0/f/2007/170/6/c/untitled_texture_cxvii_by_aqueous_sun_textures.jpg");
}
