<head>
    <meta charaset = 'utf-8'>
</head>

<div class="responses" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>Try These!</mat-card-title>
            <mat-divider></mat-divider>

            <mat-card-content>
                <h2 class="example-h2">Videos</h2>

                <section class="Videos">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/2CfLodvGN34" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </section>

                <h2 class="example-h2">Gifs</h2>
                <section class="Gifs">
                <iframe src='https://gfycat.com/ifr/CornyShortAsiandamselfly' autoplay=false frameborder='0' scrolling='no' allowfullscreen width='640' height='640'></iframe>
                </section>

            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Happy</mat-card-title>
            <mat-divider></mat-divider>

            <mat-card-content>
                <a name="happyMessage">happy suggestions</a>
            </mat-card-content>


        </mat-card>


        <mat-card>
            <mat-card-title>Disappoint</mat-card-title>
            <mat-divider></mat-divider>

            <mat-card-content>
                <a name="disappointMessage">Disappoint suggestions</a>
            </mat-card-content>


        </mat-card>

        <mat-card>
            <mat-card-title>Sick</mat-card-title>
            <mat-divider></mat-divider>

            <mat-card-content>
                <a name="sickMessage">Sick suggestions</a>
            </mat-card-content>


        </mat-card>

        <mat-card>
            <mat-card-title>Disappoint</mat-card-title>
            <mat-divider></mat-divider>

            <mat-card-content>
                <a name="angryMessage">Angry suggestions</a>
            </mat-card-content>


        </mat-card>

        <mat-card>
            <mat-card-title>Disappoint</mat-card-title>
            <mat-divider></mat-divider>

            <mat-card-content>
                <a name="sadMessage">Sad suggestions</a>
            </mat-card-content>


        </mat-card>
    </div>
</div>
